<!-- user/login/loginModal.html -->
<div class="modal-header">
	<h2 class="modal-title">Sign in to {{App.title}}</h2>
</div>
<div class="modal-body">
	<form name="loginForm" id="loginForm" ng-submit="login(credentials)" novalidate>
		<div class="form-group required" ng-class="{'has-error': hasError(loginForm.email, loginForm)}">
			<label class="control-label" for="email">E-mail address</label>
			<input class="form-control" type="email" id="email" name="email" placeholder="E-mail address" ng-model="credentials.email" required ng-keydown="resetValidity()" ng-model-options="{updateOn: 'blur'}" />
		</div>
		<div class="errors" ng-show="loginForm.$submitted || loginForm.email.$dirty" ng-messages="loginForm.email.$error">
			<p class="bg-danger text-danger" ng-message="required">Enter your e-mail address.</p>
			<p class="bg-danger text-danger" ng-message="email">Enter a valid e-mail address.</p>
			<p class="bg-danger text-danger" ng-message="suspended">This account has been suspended.</p>
		</div>

		<div class="form-group required" ng-class="{'has-error': hasError(loginForm.password, loginForm)}">
			<label class="control-label" for="password">Password</label>
			<input class="form-control" type="password" id="password" name="password" placeholder="Password" ng-model="credentials.password" required ng-keydown="resetValidity()" ng-model-options="{updateOn: 'blur'}" />
		</div>
		<div class="errors" ng-show="loginForm.$submitted || loginForm.password.$dirty" ng-messages="loginForm.password.$error">
			<p class="bg-danger text-danger" ng-message="required">Enter your password.</p>
			<p class="bg-danger text-danger" ng-message="credentials">Invalid login, please double check your e-mail address and password.</p>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="remember" name="remember" value="1" />
					Remember me on this computer
				</label>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="submit" form="loginForm">Sign in</button>
	<button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>