<!-- user/login/login.html -->
<section>
	<header>
		<h1>Sign in to {{App.title}}</h1>
	</header>
	<div class="login">
		<div class="oauth">
			<h2>Through a 3rd party provider</h2>
			<div class="fade in" ng-show="!oAuthStatus">
				<a ng-click="loginWithOAuth('Google', true)" class="btn btn-block btn-google"><i class="icon icon-google"></i> &nbsp; Sign in with Google</a>
				<a ng-click="loginWithOAuth('Facebook', true)" class="btn btn-block btn-facebook"><i class="icon icon-facebook"></i> &nbsp; Sign in with Facebook</a>
				<a ng-click="loginWithOAuth('Twitter', true)" class="btn btn-block btn-twitter"><i class="icon icon-twitter"></i> &nbsp; Sign in with Twitter</a>
			</div>
			<div class="fade in" ng-show="oAuthStatus && oAuthStatus != 'init'">
				<p ng-if="oAuthStatus == 'popup'">Signing in with {{oAuthProvider}}&hellip;</p>
				<p ng-if="oAuthStatus == 'validate'">Validating&hellip;</p>
				<p ng-if="oAuthStatus == 'login'">Signing you in&hellip;</p>
				<p ng-if="oAuthStatus == 'fetch'">Getting user data from {{oAuthProvider}}&hellip;</p>
				<p ng-if="oAuthStatus == 'connect'">Signed in through {{oAuthProvider}}. Connecting your account&hellip;</p>
				<p ng-if="oAuthStatus == 'success'">Signed in through {{oAuthProvider}}. Redirecting you now&hellip;</p>
				<p ng-if="oAuthStatus == 'error'" class="text-danger">Oops, something went wrong while signing in with {{oAuthProvider}}. {{oAuthError}}</p>
				<button class="btn btn-primary" type="button" ng-click="cancelOAuth()" ng-bind="oAuthStatus == 'error' ? 'Try again' : 'Cancel'">Cancel</button>
			</div>
		</div>
		<div class="credentials fade in" ng-show="!oAuthStatus">
			<h2>Or with your credentials</h2>
			<form class="form" name="loginForm" id="loginForm" ng-submit="loginWithCredentials(credentials, credentials.remember)" novalidate>
				<div class="form-group required" ng-class="{'has-error': hasError(loginForm.username, loginForm)}">
					<label class="form-label" for="username">Username or e-mail</label>
					<input class="form-control" id="username" name="username" placeholder="Username or e-mail" ng-model="credentials.username" required ng-keydown="resetValidity()" ng-model-options="{updateOn: 'blur'}" />
				</div>
				<div class="errors" ng-show="loginForm.$submitted || loginForm.username.$dirty" ng-messages="loginForm.username.$error">
					<p class="bg-danger text-danger" ng-message="required">Enter your username or e-mail address to login.</p>
					<p class="bg-danger text-danger" ng-message="suspended">This account has been suspended.</p>
				</div>

				<div class="form-group required" ng-class="{'has-error': hasError(loginForm.password, loginForm)}">
					<label class="form-label" for="password">Password</label>
					<input class="form-control" type="password" id="password" name="password" placeholder="Password" ng-model="credentials.password" required ng-keydown="resetValidity()" ng-model-options="{updateOn: 'blur'}" />
				</div>
				<div class="errors" ng-show="loginForm.$submitted || loginForm.password.$dirty" ng-messages="loginForm.password.$error">
					<p class="bg-danger text-danger" ng-message="required">Enter your password.</p>
					<p class="bg-danger text-danger" ng-message="credentials">Invalid login, please double check your e-mail address and password.</p>
				</div>

				<div class="form-group">
					<button class="btn btn-primary" type="submit">Sign in</button>
					<div class="checkbox">
						<label class="faux">
							<input type="checkbox" name="remember" ng-model="credentials.remember" />
							<span>Remember me</span>
						</label>
					</div>
				</div>

			</form>
			<p><a ui-sref="user.register">Sign up for a new account</a> &nbsp;|&nbsp; Forgot your password?</p>
		</div>
	</div>
</section>
