<!-- user/register/register.html -->
<section ng-show="!isRegistered">
	<header>
		<h1>Register</h1>
		<p>Create an account for {{App.title}}</p>
	</header>
	<p>Register using the form below.</p>

	<form name="registerForm" class="form-horizontal" ng-submit="register(user)" novalidate>

		<div class="form-group required" ng-class="{'has-error': hasError(registerForm.name, registerForm)}">
			<label class="control-label col-sm-4" for="name">Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="name" name="name" placeholder="Your name" ng-model="user.name" required ng-model-options="{updateOn: 'blur'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4">
				<div class="form-notifications" ng-show="registerForm.$submitted || registerForm.name.$dirty" ng-messages="registerForm.name.$error">
					<p class="bg-danger text-danger" ng-message="required">Please fill out your name.</p>
				</div>
			</div>
		</div>

		<div class="form-group required" ng-class="{'has-error': hasError(registerForm.email, registerForm)}">
			<label class="control-label col-sm-4" for="email">E-mail address</label>
			<div class="col-sm-8">
				<input class="form-control" type="email" id="email" name="email" placeholder="E-mail address" ng-model="user.email" required user-exists ng-model-options="{updateOn: 'blur'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4">
				<div class="form-notifications" ng-show="registerForm.$submitted || registerForm.email.$dirty" ng-messages="registerForm.email.$error">
					<p class="bg-danger text-danger" ng-message="required">Enter your e-mail address.</p>
					<p class="bg-danger text-danger" ng-message="email">Enter a valid e-mail address.</p>
					<p class="bg-danger text-danger" ng-message="exists">This e-mail address is already in use.</p>
				</div>
			</div>
		</div>

		<div class="form-group required" ng-class="{'has-error': hasError(registerForm.password, registerForm)}">
			<label class="control-label col-sm-4" for="password">Password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="password" name="password" placeholder="Desired password" ng-model="user.password" required ng-minlength="7" ng-model-options="{updateOn: 'blur'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4">
				<div class="form-notifications" ng-show="registerForm.$submitted || registerForm.password.$dirty" ng-messages="registerForm.password.$error">
					<p class="bg-danger text-danger" ng-message="required">Please choose a password.</p>
					<p class="bg-danger text-danger" ng-message="minlength">Please choose a password with at least 7 characters.</p>
				</div>
			</div>
		</div>

		<div class="form-group required" ng-class="{'has-error': hasError(registerForm.passwordConfirm, registerForm)}">
			<label class="control-label col-sm-4" for="passwordConfirm">Confirm password</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm your password" ng-model="passwordConfirm" required match="user.password" ng-model-options="{updateOn: 'blur'}" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-4">
				<div class="form-notifications" ng-show="registerForm.$submitted || registerForm.passwordConfirm.$dirty" ng-messages="	registerForm.passwordConfirm.$error">
					<p class="bg-danger text-danger" ng-message="required">Please confirm your password.</p>
					<p class="bg-danger text-danger" ng-message="match">The two passwords do not match.</p>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="isSubscribed" ng-model="user.isSubscribed" />
						Yes, I would like to receive news and special offers from {{MKA.name}}
					</label>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="isSaving">Register</button>
	</form>
</section>
<section ng-show="isRegistered && !User.isPresent()">
	<header>
		<h1>Thanks for registering, {{User.data.name}}!</h1>
		<p>Logging you in...</p>
	</header>
</section>
<section ng-show="isRegistered && User.isPresent()">
	<header>
		<h1>Thanks for registering, {{User.data.name}}!</h1>
		<p>Redirecting you...</p>
	</header>
</section>