
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: $fontWeightNormal;
}
section, article {
	h2, h3, h4, h5, h6 {
		margin-top: $marginSection;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-weight: $fontWeightBold;
	}
	h5 {
		text-decoration: underline;
	}
	header {
		margin-bottom: $marginSection;
		p {
			letter-spacing: 1px;
			margin: .5rem 0 0;
			font-size: $fontSizeSmall;
			color: $colorTextMuted;
		}
	}
}

/**
 * Paragraphs
 */
p {
	font-size: $fontSizeNormal;
	line-height: $lineHeight;
	margin-bottom: $marginParagraph;
	text-align: justify;
	&:last-child {
		margin-bottom: 0;
	}
}

/**
 * Lists
 */
ul, ol {
	margin: 0 0 $marginParagraph 1.75rem;
	line-height: $lineHeight;
	&:last-child {
		margin-bottom: 0;
	}
}

/**
 * Links
 */
a {
	color: $colorTextLink;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
	&:hover, &:active {
		outline: none;
	}
}

/**
 * Text styles
 */
strong, .bold {
	font-weight: $fontWeightNormal;
}
em, .italic {
	font-style: $fontStyleItalic;
}
small, .small {
	font-size: $fontSizeSmall;
}
.text-muted {
	color: $colorTextMuted;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
